<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile | Gumbo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>

<body>

    <div class="top container-fluid bg-1">
        <a href="/user/dashboard" class="previous-round"><img class="edit" src="/images/back.png" width="25" height="25"></a>
        <h4><center>My Profile</center></h4>
        <a id="editsettings" class="editSettings"><img class="edit" src="/images/pencil-light.png" alt=""   width="25" height="25"></a>
    </div>
    
    <br>

    <div class="container">
        <img src="<%= user.photo %>" class="profileimg"></img>
    </div>

    <div class="bottom container">
        <div class="profile">
            <h4><%= user.name%>, <span class="age"><%= user.age%></span></h4>
            <ul>
                <li class="company">
                    <img src="/images/work.png" class="icon" width="15" height="15">
                    <p id="company"><%= user.company %></p>
                </li>
                <li class="school">
                    <img src="/images/school.png" class="icon" width="18" height="18">
                    <p id="school"><%= user.school %></p>
                </li>
                <li class="location">
                    <img src="/images/location.png" class="icon" width="15" height="15">
                    <p id="location"><%= user.location %>Orlando, FL</p>
                </li>
                <li class="bio">
                    <!-- <img src="/images/pencil.png" class="icon" width="16" height="16"> -->
                    <p id="bio"><%= user.bio %></p>
                </li>
                <li class="email">
                    <img src="/images/message.png" class="icon" width="16" height="16">
                    <p id="email"><%= user.email %></p>
                </li>
                <li class="gender">
                    <img src="/images/gender.png" class="icon" width="16" height="16">
                    <p id="gender"><%= user.gender %></p>
                </li>
            </ul>
        </div>
    </div>

    <div id="settingsForm"></div>




    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/javascripts/profile.js"></script>
</body>
</html>
